/*Tools Panel*/
button.[class*="sec"] {
  height: 4rem;
}
button.sec2 > div {
  border: 1px dashed;
  height: 1rem;
}
button.sec2 > div i {
  font-size: 0.8rem;
  position: absolute;
  left: 0;
}
button.sec3>div>div {
  border: 1px dashed; width: 50%; padding: 0.1rem
}
button.sec3>div>div>div {
  border: 1px dashed; width: 100%;height: 1rem; margin-bottom: 0.1rem
}
button.sec10>div>div {
  border: 1px dashed; height: 1rem; margin: 0.1rem; height: 1rem
}
button.sec10>div>div:first-child {
  width: 30%;
}
button.sec10>div>div:last-child {
  width: 70%;
}
button.sec13 > div {
  border: 1px dashed;
  height: 1rem;
}

/*Delete Block*/
.block {
  position: relative
}
.block .trash {
  visibility: hidden;
  /*border:1px solid red;*/
  color: #5F4747 !important;
  position: absolute !important;
  top:0;
  right: 0;
}
.block:hover .trash {
  visibility: visible;
}
/*Input style Button*/
input[class*="input-button"][type="button"]{
  height: 36px;
  margin: 6px 8px;
  min-width: 88px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  padding: 0 16px;
  -webkit-box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
  cursor: pointer;
  outline-style: none
}

.menu-list a {
  color: #777777 !important
}

/*Prism*/
pre {
  padding: 0 !important;
  line-height: 1 !important;

}
pre code {
  box-shadow: none !important;
}

.sticky {
  position: sticky;
  top: 80px;
}

/* Fonts:
 * 
 * font-family: 'ZCOOL KuaiLe', cursive;
 * font-family: 'Pacifico', cursive;
 */
.font-pacifico {
  font-family: 'Pacifico', cursive;
}
.font-zcool {
  font-family: 'ZCOOL KuaiLe', cursive;
}
.main-title {
 font-family: 'Pacifico', cursive;
 font-size: 48px;
/* -webkit-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
  -webkit-transition: -webkit-transform .4s ease-in-out;
  -o-transition: -o-transform .4s ease-in-out;
  transition: transform .4s ease-in-out;*/
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
}
.main-title::first-letter {
  font-size: 10rem;
}

.main-title+p {
  -webkit-transition: -webkit-transform .4s ease-in-out;
  -o-transition: -o-transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
  -webkit-animation: color 4s infinite;
  animation: color 4s infinite;
}
.main-title+p:hover {
  -webkit-transform: rotate(350deg);
  -ms-transform: rotate(350deg);
  -o-transform: rotate(350deg);
  transform: rotate(360deg); 
}
@keyframes pulse {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-webkit-keyframes color {
  0%   {color:red;}
  25%  {color:yellow;}
  50%  {color:blue;}
  75%  {color:green;}
  100% {color:red;}
}
@keyframes color {
  0%   {color:red;}
  25%  {color:yellow;}
  50%  {color:blue;}
  75%  {color:green;}
  100% {color:red;}
}